<header>
 <div class="container" style="text-align: center">
     <h1 style="font-size: 50px; font-family: 'Noto Sans Display', sans-serif;', serif;">Garbage Separator</h1>
     <div style="font-family: 'Noto Sans Display', sans-serif;">
         <a href="{{ url_for('homepage') }}" style="text-decoration:none"><span>Home&nbsp;</span></a>|
         <a href="{{ url_for('introduction') }}" style="text-decoration:none"><span>&nbsp;Introduction&nbsp;</span></a>|
         <a href="{{ url_for('separation') }}" style="text-decoration:none"><span>&nbsp;Separation</span></a><hr>
     </div>
 </div>
</header>